{% extends "layout.html" %}

{% block title %}
    Workout Plans
{% endblock %}

{% block main %}
    <div>
        <div class="card-deck">
            <div class="card">
                <div class="card-header">Plan A</div>

                <div class="card-body">
                    <h5 class="card-title">Push Pull Legs</h5>
                    <p class="card-text">A 6-day/week bro-split routine</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
{#                        <a href="#" class="btn btn-primary">Start Session</a>#}
                        <a href="#" class="btn btn-primary">Edit</a>
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="card-header">Plan B</div>

                <div class="card-body">
                    <h5 class="card-title">5/3/1</h5>
                    <p class="card-text">The 5/3/1 method is a strength program focusing on the squat, bench, deadlift, and overhead press.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
{#                        <a href="#" class="btn btn-danger">Start Session</a>#}
                        <a href="#" class="btn btn-primary">Edit</a>
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="card-header">Plan C</div>

                <div class="card-body">
                    <h5 class="card-title">5x5 StrongLifts</h5>
                    <p class="card-text">A 3-day/week full-body routine</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
{#                        <a href="#" class="btn btn-primary">Start Session</a>#}
                        <a href="#" class="btn btn-primary">Edit</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}